* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    text-align: center;
    padding: 20px;
    min-width: 180px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    flex-grow: 1;
}

.card button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.card button:hover {
    background-color: #0056b3;
}